.createdAt {
    color: #aeafb1d5;
    font-size: 14px;
}

.buttons-div-p {
    /* margin: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color:black;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 2em; */
    /* margin: 2em; */
}

.postsDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* margin-top: 3em; */
    border-top: solid 2px #F3F4F5;
    padding: 1em;
}
.commentsDivPost{
    margin-top: 1em;
}
.postsDiv:hover{
    background-color: #F3F4F5;
}

.posts-border-posts{
    border-top: solid 2px #F3F4F5; 
}

.avatarClass{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 6px solid rgba(242, 202, 236, 0.055);
    background-image: linear-gradient(-60deg, #16a08411 0%, #f43fe823 100%);
    margin-bottom: 1em;
}
.avatarClass img {
    /* margin-right: 1em; */
    /* margin-top: 0em; */
    /* padding: 2.5em; */
    /* background-color: #fe3f7271; */
    /* border: 3px dashed #fe3f73; */
    border-radius: 50%;
    float: left;
    width:  80px;
    height: 80px;
    object-fit: cover;;
}

.postContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0.5em;
    margin-left: 3em;
}
.postContentTopPart{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    margin-top: 0.5em;
    margin-left: 3em;
}
.topPart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5em;
    margin-left: 3em;
}
.comment-posts{
    margin-left: 1em;
    cursor: pointer;
}

.like-posts{
    cursor: pointer;
    color: black;
}

.likeIcon{
    color:rgb(209, 57, 57);
    /* background-color: white; */
    /* border-color: aquamarine; */
}
.postContentText{
    text-align: justify !important;
    margin-right: 1em;
    /* overflow-wrap: anywhere; */
    /* word-wrap: break-word !important; */
    /* overflow-wrap: break-word; */
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    /* word-break: break-word; */

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
/* p{
    text-align: justify !important;
    margin-right: 1em;
    word-wrap: break-word !important;
    overflow-wrap: break-word; 
} */
.displayFlexRow{
    /* padding: 1em;   */
    /* margin-left: 20px; */
    margin-top: 10px;
}
.counter{
    padding: .3em;
    color:#aeafb1d5;
    font-size: smaller;
    font-weight: bold;
}

/* .displayFlexRow svg{ */
    /* background-color: black; */
    /* color: red; */
    /* fill: black; */
/* } */

.desArea{
    overflow-wrap: break-word; 
    word-break: break-all;
    
  }
