#register {
    padding-top: 30px;
    border: 1px solid #dadce0;
    border-radius: 32px;
    background-color: rgb(255, 255, 255);
    width: 484px;

}
#logo {
    width: 160px;
    margin: auto;
}
#title {
    font-weight: 200;
    display: flex;
    justify-content: center;
}
#register-btnn {
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}
#signup-bttn {
    border-radius: 10px;
    background-color: #9e561f;
    border-color: white;
}
#signup-bttn:hover{
    background-color: #9e561fe7;
  
}
#signup-word {
    color: black;
}
#password{
    border-radius: 10px;
}
#name {
    border-radius: 10px;
}
#email {
    border-radius: 10px;
}
#signUpBtn {
    color: #9e561f;
    font-weight: bold;
}
