#grand-parent{
    
    background-color: #cad2c5;
}

#rowDiv{
    margin: 0;
     display: flex;
     align-items: center;
     justify-content: center;
}
#background-parent{
    margin: 0;
    padding: 0;
    
}
#backgroundImage{
    display: flex;
     align-items: center;
    border-radius: 10px;
    height: 350px;
    width: 900px;
    position: absolute;
}
#child-img{
   /* margin-bottom: 290px; */
}
#personalImg{
    position: relative;
    margin-top: 49%;
    margin-bottom: 30px;
    width: 238px;
    height: 238px; 
    border-radius: 100%;
    border: 5px solid rgb(247, 241, 241);
}